server:
  port: ${SERVER_PORT:5000}
  address: ${SERVER_ADDRESS:0.0.0.0}

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      mvc:
        routes:
          - id: auth-service
            uri: ${AUTH_SERVICE_URL:http://localhost:5001}
            predicates:
              - Path=/auth/**
            filters:
              - StripPrefix=0

          - id: product-service
            uri: ${PRODUCT_SERVICE_URL:http://localhost:5002}
            predicates:
              - Path=/products/**
            filters:
              - StripPrefix=0
